body {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden !important;
    &::before {
        content: '';
        position: fixed;
        inset: 0;
        z-index: -1;
        pointer-events: none;
        background: url(img/BG.jpeg) no-repeat center;
        background-size: cover;
        animation: backgroundZoomAnimate 120s forwards;
    }
}

@keyframes backgroundZoomAnimate {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1.2);
    } 
}

.profile-card {
    box-shadow: 0 18px 200px -60px black;
    border-radius: 0px;
    width: 640px;
    height: 110%;
    position: absolute;
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid #ffffff79;
    padding: 0rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: hidden !important;

    @media screen and (max-width: 768px) {
        width: 80%;
    }
}

#horizontal_space {
    height: 5%;
}

#abschlussDate {
    color: #111111;
}
#abschluss {
    color: #111111;
}
#thesis_title {
    font-size: 1.17em;
    color: #111111;
}
#thesis_text {
    color: #111111;
}

.profile-card__img img {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    box-shadow: 0 10px 60px -10px rgba(13, 28, 39, 0.5);
}

.profile-card__desc {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: hidden !important;
    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #111111;

        & + div {
            font-size: 20px;
        }
    }
}

.profile-card__info {
    display: flex;
    justify-content: center;
    gap: 50px;

    @media screen and (max-width: 576px){
        gap: 30px; 
    }

    & > div { 
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
    
        & > *:first-child {
            font-weight: bold;
            letter-spacing: 3px;
            font-size: 2rem;
            margin-bottom: 15px;
        }

        & > *:last-child {
            font-size: 16px;
            opacity: 0.7;
        }
    }
}

.profile-card__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    a {
        display: inline-flex;
        width: 40px;
        height: 40px;
        margin: 15px;
        border-radius: 40%;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-shrink: 0;
        transition: all 0.2s;
 
        @media screen and (max-width: 768px) {
            width: 50px;
            height: 50px;
            margin: 10px; 
        }

        @media screen and (min-width: 768px) {
            &:hover {
                transform: scale(1.2) translateY(-5px);
            }            
        }
    
        &.github {
            background: linear-gradient(45deg, #333333, #626b73);   
        }

        &.linkedin {
            background: #0a66c2;
        }

        &.education {
            background: linear-gradient(45deg, #014fa4, #a6ba00);
        }
        &.thesis {
            background: linear-gradient(45deg, #444444, #111111); 
        }
    }
}

.profile-card__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @media screen and (max-width: 576px) {
        flex-direction: column;
        gap: 1.5rem;
    }
    & > a {
        @media screen and (max-width: 768px) {
            min-width: 170px;
        }

        @media screen and (max-width: 576px) {
            min-width: inherit;
            width: 250px; 
            max-width: 350px;           
        }

        @media screen and (min-width: 576px) {
             &:hover {
                transform: translateY(-5px);
             }           
        }
        button {
            font-weight: bold;
            font-size: 18px;
            padding: 15px;
            width: 250px;
            border-radius: 50px;
            border: none;
            text-align: center;
            color: white;
            cursor: pointer;
            transition: all 0.2s;
            
            &.mail {
                background: linear-gradient(45deg, #444444, #111111);
                box-shadow: 0 4px 30px rgba(19, 127, 212, 0.4);
            }

            &.experience {
                background: linear-gradient(45deg, #444444, #111111);
                box-shadow: 0 4px 30px rgba(19, 127, 212, 0.4);
            }
        }
    }
}

#back {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 45px; /* Größe des Buttons */
    height: 35px; /* Größe des Buttons */
    padding: 0;
    background-position: 0px center; /* Verschiebung der Flagge nach rechts */
    border: none;
    border-radius: 20%; /* Runde Form */
    cursor: pointer;
    background-color: #5f6e7e;
    box-shadow: 0 4px 30px rgba(90, 99, 106, 0.4);
    transition: all 0.2s;

    display: flex;
    align-items: center;  /* Vertikale Zentrierung */
    justify-content: center;  /* Horizontale Zentrierung */
    color: white;  /* Textfarbe */
    font-size: 14px; /* Schriftgröße */
}

#back:hover {
    transform: translateY(-5px);
}